<p>task-form works!</p>
<form class="form">
  <div>
    <label for="TaskTitle">Task Title</label>
    <input type="text" id="TaskTitle" name="TaskTitle" />
  </div>

  <div>
    <label for="Describtion">Task Describtion</label>
    <input type="text" id="Describtion" name="Describtion" />
  </div>

  <div>
    <label for="Low">Low</label>
    <input type="radio" id="Low" name="Priority" />
    <label for="Medium">Medium</label>
    <input type="radio" id="Medium" name="Priority" />
    <label for="High">High</label>
    <input type="radio" id="High" name="Priority" />
  </div>

  <div>
    <label for="Due">Low</label>
    <input type="date" id="Due" name="DueDate" />
  </div>

  <div>
    <input type="submit" />
  </div>
</form>
